click==8.1.8
colorama==0.4.6
grpcio==1.70.0
grpcio-tools==1.70.0
natsort==8.4.0
overrides==7.7.0
protobuf==5.29.3
robotframework==7.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.3.0
robotframework-pythonlibcore==4.4.1
seedir==0.5.0
wrapt==1.17.2
